.mainCenterReset {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/backgroundLogin/loginBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.borderReset {
    border-radius: 10px;
    width: 448px;
    max-width: 90%;
    height: 400px;
    max-height: 90vh;
    background: radial-gradient(circle at bottom, #2B0033, #0B0010 70%);
}

.titleReset {
    text-align: center;
}

.titleReset, .formReset {
    display: grid;
    justify-content: center;
    margin-top: 40px;
}

.mainTitleReset {
    color: #FFF;
    font-family: 'Plus Jakarta Sans';
}

.firstInputReset {
    margin-top: 5px;
    color: #DDBED1;
}

.paragraphEmailReset {
    font-family: 'Inter';
}

.inputReset {
    width: 366px;
    height: 49px;
    border-radius: 12px;
    background-clip: padding-box;
    background: radial-gradient(circle at bottom, #130013, #0e0014 70%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    outline: none;
    color: #FFF;
    padding-left: 10px;
    transition: all 0.25s ease;
}

.inputReset:hover {
    border-color: rgba(255, 43, 194, 0.6);
    background: rgba(255, 255, 255, 0.05);
}

.inputReset:focus {
    border-color: #FF2BC2;
    box-shadow: 
        0 0 0 1px rgba(255, 43, 194, 0.5),
        0 0 12px rgba(255, 43, 194, 0.4);
}

.inputReset:active {
    transform: scale(0.98);
    box-shadow: 0 0 5px rgba(255, 43, 194, 0.3);
}

.buttonReset {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    border-radius: 12px;
    height: 48px;
    cursor: pointer;
    background: linear-gradient(90deg, #FF2BC2, #FF24E4);
    box-shadow: 0 0 10px #FF2BC2,
        0 0 20px #FF2BC2,
        0 0 40px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}

.buttonReset:hover {
    box-shadow: 
        0 0 6px rgba(255, 43, 194, 0.3),
        0 0 12px rgba(255, 43, 194, 0.2);
    
    transform: translateY(-1px);
}

.buttonReset:active {
    transform: scale(0.98);
    box-shadow: 0 0 5px rgba(255, 43, 194, 0.3);
}

.reset {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: 'Plus Jakarta Sans';
}

.reset:active {
    transform: scale(0.98);
    box-shadow: 0 0 5px rgba(255, 43, 194, 0.3);
}

.singUpReset {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.accountButtonReset {
    color: #FFF;
    font-family: 'Inter';
}

.singUpButtonReset {
    color: #FFACE8;
    margin-left: 5px;
    font-family: 'Inter';
    cursor: pointer;
}

.singUpButtonReset:active {
    transform: scale(0.98);
}

.singUpButtonReset:hover {
    color: #FF2BC2;
}